@import "../variables";
@import "../helpers/functions";
@import "../helpers/mixins";

.box {
  background-color: $btn-color;
  border-radius: px-to-rem(5px);
  border: px-to-rem(1px) solid #E8E9ED;
  margin-top: px-to-rem(41px);
  margin-bottom: 0;
  &:first-child {
    display: flex;
    flex-direction: column-reverse;
  }
  &:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }
  &:last-child {
    margin-bottom: px-to-rem(44.66px);
  }


  .title {
    &__hdl {
      font-family: 'Raleway', sans-serif;
      font-size: px-to-rem(30px);
      font-weight: 400;
      color: $font-color;
      margin-top: px-to-rem(26px);
      margin-bottom: 0;
      margin-inline: px-to-rem(21px);
    }
    &__dsc {
      font-family: 'Open Sans', sans-serif;
      font-size: px-to-rem(14px);
      font-weight: 400;
      color: $font-color;
      margin-top: px-to-rem(10px);
      margin-bottom: px-to-rem(30px);
      margin-inline: px-to-rem(21px);
    }
  }
  .graph {
    display: flex;
    position: relative;
    &__img {
      padding-top: px-to-rem(37.11px);
      z-index: 42;

      &--first {
        margin-inline: px-to-rem(55.27px);
      }

      &--second {
        margin-inline: px-to-rem(90px);
        height: px-to-rem(134px);
        padding-top: px-to-rem(19px);
      }

      &--third {
        position: absolute;
        left: px-to-rem(-12px);
      }
    }
    &__shape {
      &--red {
        width: px-to-rem(90.12px);
        height: px-to-rem(90.12px);
        background-color: $red-color;
        transform: rotate(45deg);
        border-radius: 45%;
        position: absolute;
        top: px-to-rem(18.5px);
        left: px-to-rem(161.5px);
      }
      &--blue {
        width: px-to-rem(131.88px);
        height: px-to-rem(131.7px);
        background-color: $base-color;
        border-radius: 50%;
        position: absolute;
        left: px-to-rem(90px);
        top: px-to-rem(12px);
      }
      &--green {
      }
    }
    &--desc {
      background-color: $green;
      height: px-to-rem(195px);
      width: 100%;
      border-radius: px-to-rem(5px);
      border: px-to-rem(1px) solid #E8E9ED;
    }
  }
}