@import "../helpers/functions";
@import "../helpers/mixins";

.navigation {

  @include flex(flex-end);
  @media screen and (max-width: px-to-rem(860px)) {
    display: none;
  }
  &__item {
    font-family: "Open Sans", sans-serif;
    padding: px-to-rem(28px) px-to-rem(47.5px);
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #A5A5A5;
    font-size: px-to-rem(11px);
    transition: all 200ms ease-in-out;
    font-weight: 700;
    position: relative;
  }
  &__item:hover {
    border-bottom: px-to-rem(4px) solid $base-color;
    color: black;
  }
  &__item--active {
    border-bottom: px-to-rem(4px) solid $base-color;
    color: black;
  }

}