@import "../helpers/mixins";
@import "../helpers/functions";
@import "../variables";

.items {

  .item {
    @include flex(center, center, wrap);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: px-to-rem(25px);
    margin-bottom: 0;
    max-width: px-to-rem(116px);
    text-align: center;

    &:last-child {
      margin-bottom: px-to-rem(50px);
    }

    .graph {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: px-to-rem(-7px);

      .graph__circle {
        &--1 {
          background-color: $red-color;}
        &--2 {
          background-color: $base-color;
        }
        &--3 {
          background-color: $green;
        }
      }

      &__circle{
        width: px-to-rem(62.71px);
        height: px-to-rem(62.71px);
        background-color: gray;
        border-radius: 50%;
      }


      &__img {
        position: absolute;
        left: px-to-rem(31.355px);
        margin-bottom: 0;
      }
    }
    &__hdl {
      position: relative;
      margin-top: px-to-rem(14.18px);
      margin-bottom: 0;
      font-family: 'Raleway', sans-serif;
      font-weight: 800;
      letter-spacing: px-to-rem(5.96px);
      color: $font-color;
      font-size: px-to-rem(20px);
    }

    &__dsc {
      display: flex;
      position: relative;
      margin-top: px-to-rem(19.11px);
      margin-bottom: 0;
      color: #A5A5A5;
      font-size: px-to-rem(17px);
      font-weight: 400;font-family: 'Raleway', sans-serif;
    }
  }
}
