@import "../helpers/functions";
@import "../helpers/mixins";
@import "../variables";
@import "../media_queries";

.header {
  box-shadow: 0 px-to-rem(3px) px-to-rem(6px) #00000029;
  width: 100%;
  @include flex(center, center);

  &__inner {
    padding-inline: px-to-rem(25px);
    box-sizing: border-box;
    @include flex(space-between, center);
    position: relative;
    width: px-to-rem(1352px);
  }
}

.intro {
    @include flex(center, center, wrap);
  flex-direction: column;
  text-align: center;
  &__hdl {
    color: $font-color;
    font-size: px-to-rem(49px);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: px-to-rem(130px);
    margin-bottom: 0;
  }
  &__dsc {
    color: $font-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: px-to-rem(20px);
    margin-bottom: 0;
  }
  &__btn {
    padding: px-to-rem(22px) px-to-rem(92px) px-to-rem(23px) px-to-rem(92px);
    margin-top: px-to-rem(50px);
    margin-bottom: 0;
    box-shadow: px-to-rem(5px) px-to-rem(10px) px-to-rem(14px) #07ACE629;
    background-color: $base-color;
  }
  &__img {
    margin-top: px-to-rem(51px);
    background-position: center;
    background-size: cover;
    max-width: 100%;
  }

}

.btn {
  text-decoration: none;
  color: $btn-color;
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  border-radius: px-to-rem(40px);
}