@import "../../node_modules/normalize.css/normalize";

@import "./global";

//@import "./typography/fonts";
@import "./media_queries";

// layout
@import "./layout/header";
@import "./layout/statistic-section";
@import "./layout/benefit-section";
@import "./layout/pricing-section";
@import "./layout/questions_section";
@import "./layout/footer";

// components
@import "./components/logo";
@import "./components/navigation";
@import "./components/hamburger";
@import "./components/statistic_bar";
@import "./components/benefit_box";
@import "./components/pricing-box";
@import "./components/questions_form";
@import "./components/calculator";