$base-font-size: 16px;

$img-path: "../images";
$font-path: "../fonts";

$font-color: #000000;
$btn-color: #FFFFFF;
$base-color: #08A6E4;
$red-color: #FB3B64;
$green: #55DFB4;
$grey-color: #F7F7F7;

$red-color-shadow: #FEEBEF;
$green-shadow: #CCF5E8;

$color-blue-shadow: #07ACE629;

$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;