$base-font-size: 16px;

$img-path: "../images";
$font-path: "../fonts";

$font-color: #000000;
$btn-color: #FFFFFF;
$base-color: #08A6E4;
$red-color: #FB3B64;
$green: #55DFB4;
$grey-color: #F7F7F7;

$red-color-shadow: #FEEBEF;
$green-shadow: #CCF5E8;